<footer class="site-footer">
  <div class="wrapper">
    <div class="site-description">
      <p>
        {{ .Site.Copyright }}
        <span class="version">
          ({{ .Site.Data.git.project }} <a href="https://gitlab.com/fdroid/{{ .Site.Data.git.project }}/tree/{{ .Site.Data.git.hash }}">{{ .Site.Data.git.describe }}</a>, {{ .Site.Data.git.commitDate }})
        </span>
      </p>
    </div>
  </div>
</footer>
