<h3 id="donate">{{ i18n "sidebars.donate.heading" }}</h3>

<p>{{ i18n "sidebars.donate.powered_by_donations" }}</p>

<ul class="donate-options">
  <li class="donate-option misc"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=E2FCXCT6837GL"><img src="{{ absURL "assets/paypal_donate_button.gif" }}" alt="{{ i18n "sidebars.donate.paypal_alt" }}" /></a></li>
  <li class="donate-option liberapayID"><a href="https://liberapay.com/F-Droid-Data/donate"><img src="{{ absURL "assets/liberapay_donate_button.svg" }}" alt="{{ i18n "sidebars.donate.liberapay_alt" }}" /></a></li>
  <li class="donate-option flattrID"><a href="https://flattr.com/thing/343053/F-Droid-Repository"><img src="{{ absURL "assets/flattr-badge-large.png" }}" alt="{{ i18n "sidebars.donate.flattr_alt" }}" /></a></li>
  <li class="donate-option bitcoin-blockchain-info"><a href="https://blockchain.info/address/15u8aAPK4jJ5N8wpWJ5gutAyyeHtKX5i18"><img src="{{ absURL "assets/bitcoin.png" }}" alt="{{ i18n "sidebars.donate.bitcoin_alt" }}" /></a></li>
  <li class="donate-option bitcoin-url"><a href="bitcoin:15u8aAPK4jJ5N8wpWJ5gutAyyeHtKX5i18"><code class="highlighter-rouge">15u8aAPK4jJ5N8wpWJ5gutAyyeHtKX5i18</code></a></li>
  <li class="donate-option bank-transfer">{{ i18n "sidebars.donate.via_bank_transfer" }}
    <ul>
      <li>{{ i18n "sidebars.donate.bank_transfer_name" }}: F-Droid Limited</li>
      <li>IBAN: GB92 BARC 2056 7893 4088 92</li>
      <li>SWIFT: BARCGB22</li>
    </ul>
  </li>
  <li class="donate-option hellotux">👕 {{ i18n "sidebars.donate.hellotux" }} 👕 from
    <ul>
      <li><a href="https://www.hellotux.com/f-droid"><img src="{{ absURL "assets/hellotux_banner.jpg" }}" alt="{{ i18n "sidebars.donate.hellotux_alt" }}" /></a></li>
      <li>{{ i18n "sidebars.donate.hellotux_donation" }}</li>
    </ul>
  </li>
</ul>
