<h3>{{ i18n "sidebars.search.heading" }}</h3>

<div>
  <form method="get" action="https://search.f-droid.org/">
    <input type="search" class="search-input" name="q">
    <input type="hidden" name="lang" value="{{ .Language.Lang }}">
    <input type="submit" value="{{ i18n "sidebars.search.search" }}" class="material-button" />
  </form>
</div>
