{{ define "main" }}
  <article class="page">
    <header class="post-header">
      <h2 class="post-title">{{ .Title }}</h2>
    </header>
    <div class="post-content">
      <div id="news-content">
	{{ $lang := .Site.Language.Lang }}
	{{ range where (where .Site.AllPages "Kind" "page") "Type" "posts" }}
	  {{ $otherlangs := where .Translations "Language.Lang" $lang }}
	  {{/* if (or (eq .Language.Lang $lang) (and (eq .Language.Lang "en") (not $otherlangs) ) ) */}}
	  {{ if (eq .Language.Lang $lang) | or (eq .Language.Lang "en") | and (not $otherlangs) }}
	    <div id="{{ .UniqueID }}">
	      <h3>
                <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
	      </h3>
	      {{ partial "posts/posted_by.html" . }}
	      <div>
		{{ if .Truncated }}
		  <p>{{ .Summary }}</p>
		{{ else }}
		  {{ .Summary }}
		{{ end }}
	      </div>
	    </div>
	  {{ end }}
	{{ end }}
      </div>
    </div>
  </article>
{{ end }}
